In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("housing.csv")

In [4]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

# 1 - What is the average of column with other column ?

In [5]:
df[['housing_median_age', 'ocean_proximity']].mean()

C:\Users\Ahmed Samir\AppData\Local\Temp\ipykernel_16572\673913580.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[['housing_median_age', 'ocean_proximity']].mean()

housing_median_age    28.639486
dtype: float64

- To Know average of column with other column

# 2 - What is the median_house_value applied to the INLAND in the ocean_proximity ?

In [6]:
df[df["ocean_proximity"]== "INLAND" ]["median_house_value"]

954      315600.0
957      323000.0
965      337200.0
967      311500.0
968      296900.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 6551, dtype: float64

- To Know the median_house_value applied to the INLAND in the ocean_proximity

# 3 - What is the housing_median_age applied to the NEAR BAY in the ocean_proximity ?

In [9]:
df[df["ocean_proximity"]== "NEAR BAY" ]["housing_median_age"]

0        41.0
1        21.0
2        52.0
3        52.0
4        52.0
         ...
19067    20.0
19068    14.0
19069    25.0
19077     8.0
19104     8.0
Name: housing_median_age, Length: 2290, dtype: float64

- To Know the housing_median_age applied to the NEAR BAY in the ocean_proximity

# 4 - What is the average population with households

In [10]:
df[['population', 'households']].mean()

population    1425.476744
households     499.539680
dtype: float64

- To Know the average population with households

# 5 - What is the revol.bal average for an installment with arrangement ?

In [11]:
df.groupby('total_rooms')['total_bedrooms'].mean()

total_rooms
2.0           2.0
6.0           2.0
8.0           1.0
11.0         11.0
12.0          4.0
            ...
30450.0    5033.0
32054.0    5290.0
32627.0    6445.0
37937.0    5471.0
39320.0    6210.0
Name: total_bedrooms, Length: 5926, dtype: float64

- To Know he revol.bal average for an installment with arrangement

# 6 - What is the number of NEAR BAY in the ocean_proximity column ?

In [12]:
df[df["ocean_proximity"]=="NEAR BAY"].count()

longitude             2290
latitude              2290
housing_median_age    2290
total_rooms           2290
total_bedrooms        2270
population            2290
households            2290
median_income         2290
median_house_value    2290
ocean_proximity       2290
dtype: int64

- To Know he number of NEAR BAY in the ocean_proximity column

# 7 - What is the number of characters in the ocean_proximity ?

In [15]:
df["ocean_proximity"].apply(len)

0        8
1        8
2        8
3        8
4        8
        ..
20635    6
20636    6
20637    6
20638    6
20639    6
Name: ocean_proximity, Length: 20640, dtype: int64

- to know the number of characters in the column

# 8 - how to get minimum of characters with 2 columns?

In [17]:
df[['median_income', 'median_house_value']].min()

median_income             0.4999
median_house_value    14999.0000
dtype: float64

- minimum of characters from median_income and median_house_value

# 9 - how to get maximum of characters with column?

In [18]:
df[df["ocean_proximity"]=="INLAND"].max()

longitude              -114.31
latitude                 41.95
housing_median_age        52.0
total_rooms            39320.0
total_bedrooms          6210.0
population             16305.0
households              5358.0
median_income          15.0001
median_house_value    500001.0
ocean_proximity         INLAND
dtype: object

- maximum of characters of : 'ocean_proximity' of row : 'INLAND'

# 10 - How to display two columns in one table only?

In [19]:
df[["population" , "households"]]

       population  households
0           322.0       126.0
1          2401.0      1138.0
2           496.0       177.0
3           558.0       219.0
4           565.0       259.0
...           ...         ...
20635       845.0       330.0
20636       356.0       114.0
20637      1007.0       433.0
20638       741.0       349.0
20639      1387.0       530.0

[20640 rows x 2 columns]

- display column : 'population' with : 'households'

# 11 - How to display 1 row shared with 2 different columns?

In [20]:
df[ df["households"] == 1138.0 ] ["population"]

1        2401.0
17139    2002.0
17977    3580.0
18377    3637.0
18485    4168.0
Name: population, dtype: float64

- to display 1 row shared with 2 different columns

In [21]:
df.to_csv('example3.csv',index=False)