In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("loan_data.csv")

In [4]:
df.head(10)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
5,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0,0
6,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0,0,1,1
7,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0,1
8,1,home_improvement,0.1134,87.19,11.407565,17.25,682,3989.000000,69909,51.1,1,0,0,0
9,1,debt_consolidation,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0

# 1 - What is the average of column with other column ?

In [70]:
df[['installment', 'purpose']].mean()

C:\Users\Ahmed Samir\AppData\Local\Temp\ipykernel_16600\1396717995.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[['installment', 'purpose']].mean()

installment    319.089413
dtype: float64

- To Know average of column with other column

# 2 - What is the installment applied to the credit_card in the purpose ?

In [17]:
df[df["purpose"]== "credit_card" ]["installment"]

1       228.22
4       102.92
5       125.13
17      476.58
22      339.60
         ...
9526    437.93
9530    425.56
9538    244.28
9557    466.35
9559    688.11
Name: installment, Length: 1262, dtype: float64

- To Know the installment applied to the credit_card in the purpose

# 3 - What is the days.with.cr.line applied to the debt_consolidation in the purpose ?

In [21]:
df[df["purpose"]== "debt_consolidation" ]["days.with.cr.line"]

0       5639.958333
2       4710.000000
3       2699.958333
6       3180.041667
9       2730.041667
           ...
9562    3870.041667
9563    6840.041667
9572    8190.041667
9575    3450.041667
9577    4740.000000
Name: days.with.cr.line, Length: 3957, dtype: float64

- To Know the days.with.cr.line applied to the debt_consolidation in the purpose

# 4 - What is the average installment with days.with.cr.line?

In [22]:
df[['installment', 'days.with.cr.line']].mean()

installment           319.089413
days.with.cr.line    4560.767197
dtype: float64

- To Know the average installment with days.with.cr.line

# 5 - What is the revol.bal average for an installment with arrangement ?

In [61]:
df.groupby('installment')['revol.bal'].mean()

installment
15.67          0.0
15.69          0.0
15.75         56.0
15.76       3461.0
15.91          0.0
            ...
916.95     36685.0
918.02    118040.5
922.42     20622.0
926.83     79537.5
940.14     18406.0
Name: revol.bal, Length: 4788, dtype: float64

- To Know he revol.bal average for an installment with arrangement

# 6 - What is the number of credit_card in the purpose column ?

In [66]:
df[df["purpose"]=="credit_card"].count()

credit.policy        1262
purpose              1262
int.rate             1262
installment          1262
log.annual.inc       1262
dti                  1262
fico                 1262
days.with.cr.line    1262
revol.bal            1262
revol.util           1262
inq.last.6mths       1262
delinq.2yrs          1262
pub.rec              1262
not.fully.paid       1262
dtype: int64

- To Know he number of credit_card in the purpose column

# 7 - What is the number of characters in the purpose ?

In [74]:
df["purpose"].apply(len)

0       18
1       11
2       18
3       18
4       11
        ..
9573     9
9574     9
9575    18
9576    16
9577    18
Name: purpose, Length: 9578, dtype: int64

- to know the number of characters in the column

# 8 - how to get minimum of characters with 2 columns?

In [81]:
df[['installment', 'days.with.cr.line']].min()

installment           15.670000
days.with.cr.line    178.958333
dtype: float64

- minimum of characters from installment and days.with.cr.line

# 9 - how to get maximum of characters with column?

In [82]:
df[df["purpose"]=="debt_consolidation"].max()

credit.policy                         1
purpose              debt_consolidation
int.rate                         0.2121
installment                      940.14
log.annual.inc                14.528354
dti                               29.96
fico                                822
days.with.cr.line           16259.04167
revol.bal                        290341
revol.util                        119.0
inq.last.6mths                       33
delinq.2yrs                          13
pub.rec                               3
not.fully.paid                        1
dtype: object

- maximum of characters of :  'purpose' of row : 'debt_consolidation'

# 10 - How to display two columns in one table only?

In [83]:
df[["purpose" , "days.with.cr.line"]]

                 purpose  days.with.cr.line
0     debt_consolidation        5639.958333
1            credit_card        2760.000000
2     debt_consolidation        4710.000000
3     debt_consolidation        2699.958333
4            credit_card        4066.000000
...                  ...                ...
9573           all_other       10474.000000
9574           all_other        4380.000000
9575  debt_consolidation        3450.041667
9576    home_improvement        1800.000000
9577  debt_consolidation        4740.000000

[9578 rows x 2 columns]

- display column : 'purpose' with : 'days.with.cr.line'

# 11 - How to display 1 row shared with 2 different columns?

In [5]:
df[ df["int.rate"] == 0.1189 ] ["installment"]

0       829.10
1700     59.70
1713     49.75
1722    248.73
1762    232.15
         ...
8953     72.97
9117     99.50
9118     49.75
9139    530.63
9198    348.23
Name: installment, Length: 165, dtype: float64

- to display 1 row shared with 2 different columns

In [6]:
df.to_csv('example2.csv',index=False)